* {
  margin: 0;
  color: #1c1409;
  box-sizing: border-box;
  font-family: serif;
}

html, body {
  height:100%;
}

header {
  background-color: #fffdfb;
  border-style: solid;
  border-width: 3px;
  border-left: 0;
  border-right: 0;
  border-top:0;
  padding: 1%;
  padding-top:0.5%;
  border-radius: 5px;
  border-color: #FFF6EC;
}

body {
  text-align: center;
  background-color: #fffefd;
  display:flex;
  flex-direction: column;
  justify-content: top-center;
}

logo {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  margin-right: 40vw;
  margin-left: 40vw;
  margin-bottom: 1%;
}


trending, authors {
  background-color: #fffdfb;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1%;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  width: 17.5vw;
  border-color: #FFF6EC;
  border-top: 0;
  border-bottom: 0;
}

trending{
  border-right:0;
}

authors{
  border-left:0;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
  height: 80%;
}

pages {
  background-color: #fffdfb;
  padding: 1%;
  border-style: solid;
  border-color: #FFF6EC;
  border-width: 3px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border-top: 0;
  border-bottom: 0;
  width: 50vw;
}

#root{
  height: 100%;
}

p {
  color: #393026;
}

h3 {
  padding: 1vh;
}

.key {
  font-weight: bold;
}

.value{
  padding-left: 0.25vw
}

.info-box {
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-color:#FFF6EC;
  border-width: 2px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.content {
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 5px;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.tag{
  text-align: left;
  margin: 1vh;
}

#root{
  margin-top: 1%;
}

.page-title{
  background-color: #FFF6EC;
  border-radius: 5px;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

#add-page{
  margin-left: 20%;
  margin-right: 20%;
  padding: 5%;
}

.buttons{
  margin-top: 1vh;
}

.button {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.top-of-list{
  margin-top:1vh;
  margin-bottom:1vh;
  background-color: #FFFBF6;
  border-style: solid;
  border-color: #FFF6EC;
  border-radius: 5px;
  border-left:0;
  border-right:0;
}

.page-link{
  cursor:pointer;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.1s;
}

.page-link:hover{
  transform: scale(1.1);
}

.page-link:active{
  transform: scale(0.95);
}

form {
  margin: 0.5vw;
  padding: 3%;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 3px;
  border-color: #FFF6EC;
  border-radius: 5px;
}

.page-data {
  background-color: #fffefd;
  margin: 0.5vw;
  padding: 3%;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 3px;
  border-color: #FFF6EC;
  border-radius: 5px;
}

.tag-list{
  border-color:#FFF6EC;
  border-width: 2px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

button {
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  border-color: #FFF6EC;
  background-color: #FFFBF6;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left:0.5vw;
  padding-right:0.5vw;
  margin: 0%;
  text-decoration: none;
  color: #6c7abf;
  cursor: pointer;
  text-align: center;
  transition: all, 0.1s;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:disabled{
  cursor:default;
  background-color: #fffbf677;
  color: #6c7abf70;
}

button:active {
  transform: scale(0.90);
}
button:disabled:active {
  transform: scale(1);
}